// ************************************************************************************************************************
// * SNACSS Settings                                                                                                 	  *
// * Turn features sets on and off								                                                          *
// ************************************************************************************************************************
	
	$trigger_snacss-reset 		: true !default;
	$trigger_snacss-vendor	 	: true !default;
	$trigger_snacss-forms 		: true !default;
	$trigger_snacss-typography  : true !default;
	$trigger_snacss-layout 		: true !default;
	$trigger_snacss-blocks 		: true !default;
	$trigger_snacss-plugins 	: true !default;

