// ************************************************************************************************************************
// * Base Master Variables                                                                                                *
// * Project Documentation: http://wwww.styleguide/link/goes/here                                                         *
// ************************************************************************************************************************

// --------------------------------------------------------------------------------------------------------------------- //
//                                              TIER 1: CORE VARIABLES                                                     
// --------------------------------------------------------------------------------------------------------------------- //

// --------------------------------------------------------- //
// Config    
//     
//     These variables are core to the package. Changing a 
//     single variable within this section will most likely
//     have a domino effect based on the relationships they
//     are tied to.     
//                                         
// --------------------------------------------------------- //

    // Body Hue Adjustments
    //
    // Variable will change lighten or darker functions based on value
    //      Can accept  :
    //          Hex     : #404040
    //          RGBA    : rgba(25,25,25,.6)
    //          RGB     : rgb(25,25,25)
    // -------------------------------------------------------------- //

    $body-color                     : #ffffff !default;

    // Project Color Palette 

    $primaryColor                   : #ffffff !default;                 // Color Palette Base - Body Background
    $secondaryColor                 : #f9f9f9 !default;                 // Contrasting Color to Primary  - Content Background
    $tertiaryColor                  : #00b4ff !default;                 // Accent color -- Usually a color spot, used on links and buttons

    $font-primaryColor              : #333333 !default;                 // Contrasting Color to $primaryColor
    $font-primaryColorAlt           : #eeeeee !default;                 // Contrasting Color to $font-primaryColor
    $font-secondaryColor            : #333333 !default;                 // Contrasting Color to $secondaryColor
    $font-tertiaryColor             : #ffffff !default;                 // Contrasting Color to $tertiaryColor

    $black                          : #000000 !default;
    $darkgrey                       : lighten($black, 25%) !default;
    $grey                           : lighten($black, 50%) !default;
    $lightgrey                      : lighten($black, 75%) !default;
    $lightergrey                    : lighten($black, 90%) !default;
    $white                          : #ffffff !default;

    // Grid 

    $page-width                     : 1176px !default;
    $columns                        : 12 !default;
    $col-margin                     : 15px !default;
    $gutter-width                   : 30px !default;
    $page-topMargin                 : 22px !default;

// --------------------------------------------------------------------------------------------------------------------- //
//                                              TIER 2: ADVANCED VARIABLES                                                     
// --------------------------------------------------------------------------------------------------------------------- //    

    $font-size                      : 14px;
    $heading-fontSize               : 24px;
    $line-height                    : 22px; 
    $leading                        : 22px;

    $font-family                    : 'Merriweather', serif; 

    $content-bgColor                : $secondaryColor;

