@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900|Merriweather+Sans:400,300,700,800);
@import url(snacss/depot/vendor/lib/hugrid.css);
*[data-user-only] {
  display: none !important; }

.pull-left {
  float: left; }

.pull-center {
  text-align: center; }

.pull-right {
  float: right; }

.u-code {
  position: relative; }
  .u-code:before, .u-code:after {
    content: "";
    display: table; }
  .u-code:after {
    clear: both; }
  .ie8 .u-code {
    zoom: 1; }

.u-code-a {
  background-color: #f2f2f2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.1);
  padding: 4.28571em 1.42857em 1.42857em;
  margin-bottom: 1.57143em; }
  .u-code-a:hover .code-toggle {
    opacity: 1; }
  .u-code-a .code-toggle {
    position: absolute;
    right: 22px;
    top: 22px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease; }
  .u-code-a:before {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00b4ff;
    color: white;
    content: 'Code';
    padding: 0.35714em 1.42857em;
    position: absolute;
    left: 0;
    top: 0;
    line-height: normal; }

.u-button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.71429em 1.42857em;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .u-button.u-button-primary {
    background-color: #00b4ff;
    background-image: -webkit-linear-gradient(top, #00b4ff, #00a2e6);
    background-image: -moz-linear-gradient(top, #00b4ff, #00a2e6);
    background-image: -ms-linear-gradient(top, #00b4ff, #00a2e6);
    background-image: -o-linear-gradient(top, #00b4ff, #00a2e6);
    background-image: linear-gradient(top, #00b4ff, #00a2e6);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #0090cc;
    border-bottom-color: #006c99; }
    .u-button.u-button-primary:hover, .u-button.u-button-primary:active {
      background-color: #00a2e6;
      background-image: -webkit-linear-gradient(top, #00a2e6, #0090cc);
      background-image: -moz-linear-gradient(top, #00a2e6, #0090cc);
      background-image: -ms-linear-gradient(top, #00a2e6, #0090cc);
      background-image: -o-linear-gradient(top, #00a2e6, #0090cc);
      background-image: linear-gradient(top, #00a2e6, #0090cc); }
    .u-button.u-button-primary:active {
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      background: #00b4ff;
      border-bottom-color: #33c3ff; }
  .u-button.u-button-secondary {
    background-color: #f9f9f9;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #e0e0e0;
    border-bottom-color: #c6c6c6;
    color: #333333; }
    .u-button.u-button-secondary:hover, .u-button.u-button-secondary:active {
      background-color: #ececec;
      background-image: -webkit-linear-gradient(top, #ececec, #e0e0e0);
      background-image: -moz-linear-gradient(top, #ececec, #e0e0e0);
      background-image: -ms-linear-gradient(top, #ececec, #e0e0e0);
      background-image: -o-linear-gradient(top, #ececec, #e0e0e0);
      background-image: linear-gradient(top, #ececec, #e0e0e0); }
    .u-button.u-button-secondary:active {
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
      background: #f9f9f9;
      border-bottom-color: white; }
  .u-button.u-button-link {
    color: #222222;
    direction: ltr;
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: normal;
    background-color: transparent;
    background-image: none;
    border-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    height: auto;
    list-style-type: disc;
    list-style-image: none;
    list-style-position: outside;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    padding: 0;
    width: auto;
    float: none;
    overflow: visible;
    position: static;
    left: auto;
    top: auto;
    visibility: visible; }
    .u-button.u-button-link:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }
    .u-button.u-button-link:hover {
      text-decoration: underline; }

[class*='col-'] {
  float: left;
  margin-left: 2.05%; }
  [class*='col-']:first-of-type {
    margin-left: 0; }

[class*='col-1'] {
  float: left;
  width: 6.45417%;
  margin-left: 2.05%; }
  .ie7 [class*='col-1'] {
    width: 5.45417%; }

[class*='col-2'] {
  float: left;
  width: 14.95833%;
  margin-left: 2.05%; }
  .ie7 [class*='col-2'] {
    width: 13.95833%; }

[class*='col-3'] {
  float: left;
  width: 23.4625%;
  margin-left: 2.05%; }
  .ie7 [class*='col-3'] {
    width: 22.4625%; }

[class*='col-4'] {
  float: left;
  width: 31.96667%;
  margin-left: 2.05%; }
  .ie7 [class*='col-4'] {
    width: 30.96667%; }

[class*='col-5'] {
  float: left;
  width: 40.47083%;
  margin-left: 2.05%; }
  .ie7 [class*='col-5'] {
    width: 39.47083%; }

[class*='col-6'] {
  float: left;
  width: 48.975%;
  margin-left: 2.05%; }
  .ie7 [class*='col-6'] {
    width: 47.975%; }

[class*='col-7'] {
  float: left;
  width: 57.47917%;
  margin-left: 2.05%; }
  .ie7 [class*='col-7'] {
    width: 56.47917%; }

[class*='col-8'] {
  float: left;
  width: 65.98333%;
  margin-left: 2.05%; }
  .ie7 [class*='col-8'] {
    width: 64.98333%; }

[class*='col-9'] {
  float: left;
  width: 74.4875%;
  margin-left: 2.05%; }
  .ie7 [class*='col-9'] {
    width: 73.4875%; }

[class*='col-10'] {
  float: left;
  width: 82.99167%;
  margin-left: 2.05%; }
  .ie7 [class*='col-10'] {
    width: 81.99167%; }

[class*='col-11'] {
  float: left;
  width: 91.49583%;
  margin-left: 2.05%; }
  .ie7 [class*='col-11'] {
    width: 90.49583%; }

[class*='col-12'] {
  float: left;
  width: 100%;
  margin-left: 0; }
  .ie7 [class*='col-12'] {
    width: 99%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 1em 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #d9d9d9;
  border-top-color: #bfbfbf;
  border-left-color: #bfbfbf;
  padding: 0.28571em 0.71429em;
  line-height: 20px;
  height: 30px;
  font-size: 1em;
  margin-bottom: 22px; }

textarea {
  min-height: 7.14286em; }

* html {
  font-size: 87.5%; }

html {
  font-size: 14px;
  line-height: 14px; }

*:first-child {
  margin-top: 0; }

p {
  margin-bottom: 22px; }
  p:only-of-child {
    margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 22px; }

body {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 25.875px; }

blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 1.625em;
  line-height: 1.4230769230769231em;
  margin-bottom: 0.7692307692307693em; }

h1 {
  font-size: 4.25em;
  line-height: 1.1029411764705883em;
  margin-bottom: 20px; }

h2 {
  font-size: 2.625em;
  line-height: 1.1904761904761905em;
  margin-bottom: 0.47619047619047616em; }

h3 {
  font-size: 1.625em;
  line-height: 1.9230769230769231em;
  margin-bottom: 0.7692307692307693em; }

h4 {
  margin-bottom: 1.5625em;
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
  line-height: 1.6171875em; }

h5 {
  margin-bottom: 1.5625em;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6171875em; }

h6 {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1.25em;
  font-size: 1em;
  line-height: 1.6171875em; }

p {
  margin-bottom: 1.25em;
  font-size: 1em;
  line-height: 1.6171875em; }

p.intro {
  font-size: 1.125em;
  margin-bottom: 20px;
  line-height: 1.4375em; }

h1,
h2,
h3 {
  font-weight: 300; }

table {
  max-width: 100%; }
  table th,
  table td {
    padding: 0.28571em;
    text-align: left; }

.site {
  width: 80%;
  max-width: 84em;
  min-width: 22.85714em;
  margin: 0 auto;
  position: relative; }
  .site:before, .site:after {
    content: "";
    display: table; }
  .site:after {
    clear: both; }
  .ie8 .site {
    zoom: 1; }

header[role="banner"] {
  float: left;
  width: 23.4625%;
  margin-left: 2.05%;
  margin-left: 0;
  padding: 1.57143em 0 0; }
  .ie7 header[role="banner"] {
    width: 22.4625%; }

nav[role="navigation"] {
  position: fixed;
  z-index: 2; }
  nav[role="navigation"] ul {
    padding: 0;
    margin: 0; }
  nav[role="navigation"] li a {
    display: block;
    padding: 0.35714em 1.42857em;
    color: #00b4ff;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    nav[role="navigation"] li a:hover {
      color: black; }
  nav[role="navigation"] li + li a {
    margin-top: 0.78571em; }

section[role="main"] {
  float: left;
  width: 74.4875%;
  margin-left: 2.05%;
  padding: 1.57143em 0 0; }
  .ie7 section[role="main"] {
    width: 73.4875%; }

.logo {
  padding: 0 1.07143em;
  font-size: 14px; }
  .logo a {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    font-size: 0;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background: url("../images/logo.jpg");
    background-size: 80px 80px;
    width: 80px;
    height: 80px; }
    .logo a:before {
      content: "";
      display: block;
      width: 0;
      height: 150%; }

section[role="main"] {
  background-color: white; }

[class*='col-'] {
  line-height: 44px;
  background-color: #d9d9d9;
  padding: 0 1.42857em;
  margin-bottom: 1.57143em;
  text-align: center; }
  [class*='col-']:hover {
    background-color: #cccccc; }
