// ************************************************************************************************************************
// * SNACSS Grid Calculator + helpers                                                                                                
// * Grid is defined through variables and calculated within this document                                                         
// ************************************************************************************************************************

// For Global Template Layout
$calc-page-col-width: ($page-width - ($gutter-width * ($columns - 1) + ($col-margin + $col-margin))) / $columns;

// For Nested Grids
$calc-col-width: ($page-width - ($gutter-width * ($columns - 1))) / $columns;

// Calculations during values into %
// -------------------------------------------------------------------- //
// Column Width
$calc-col-width-percent: ($calc-col-width / $page-width) * 100%;
// Gutter Width
$calc-gutter-width-percent: ($gutter-width / $page-width) * 100%;

// Global mixin to define column count
@mixin col($n: 1, $first-child : false) { 
	float: left; 
	@include span($n);  
    @if $first-child == true {
        margin-left: 0;
    }
}

// Child mixin to define span width
@mixin span($n: 1) {
    width: ($n * $calc-col-width) + (($n - 1) * $gutter-width);
    max-width: ($n * $calc-col-width-percent) + (($n - 1) * $calc-gutter-width-percent);
    @if $n == $cols {
        margin-left: 0;
    } @else {
        margin-left: $calc-gutter-width-percent;
    }
}

// Global Function to help apply span widths to unique elements
@function col-span($n: 1) {
    $width : ($n * $col-width) + (($n - 1) * $col-gutter);
    @return $width;
}

// Set prefined column through markup
[class*='col-'] {
    &:first-of-type { margin-left: 0; }
}
[class*='col-1']  { @include col(1);  }
[class*='col-2']  { @include col(2);  }
[class*='col-3']  { @include col(3);  }
[class*='col-4']  { @include col(4);  }
[class*='col-5']  { @include col(5);  }
[class*='col-6']  { @include col(6);  }
[class*='col-7']  { @include col(7);  }
[class*='col-8']  { @include col(8);  }
[class*='col-9']  { @include col(9);  }
[class*='col-10'] { @include col(10); }
[class*='col-11'] { @include col(11); }
[class*='col-12'] { @include col(12); }
