// ************************************************************************************************************************
// * SNACSS Buttons                                                                                                 	  
// * Core Button Styles and Layout								                                                          
// ************************************************************************************************************************

// Button Base
// -------------------------------------------------------------- //

	%u-button_base {
		@include inline-block;
		@include borderRadius(4px);
		border: 1px solid;
		color: $font-tertiaryColor;
		padding: emCalc(10px) emCalc(20px);
		font-family: sans-serif;
		text-decoration: none;
		@include transition(all, .25s, ease);
		&:active {
			@extend %u-button_active;
		}
		&.s_disabled {
			@extend %u-button_disabled;
		}
	}

	%u-button_active {
		@include boxShadow(inset 0 1px 2px rgba(0,0,0,0.1));
	}

	%u-button_disabled {
		@include boxShadow(none);
		cursor: default;
		opacity: .7;
		&:hover,
		&:active { @include boxShadow(none); }
	}

// Primary Button
// -------------------------------------------------------------- //

	%u-button_primary {
		@extend %u-button_base;
		@include background($color: $tertiaryColor, $gradient: linear-gradient(top, $tertiaryColor, darken($tertiaryColor, 5%)));
		@include boxShadow(inset 0 1px 0 rgba(255,255,255,.3));
		border-color: darken($tertiaryColor, 10%);
		border-bottom-color: darken($tertiaryColor,20%);
		text-shadow: 0 -1px 0 rgba(0,0,0,.3);
		&:hover,
		&:active {
			@include background($color: darken($tertiaryColor, 5%), $gradient: linear-gradient(top, darken($tertiaryColor, 5%), darken($tertiaryColor, 10%)));
		}
		&:active {
			background: $tertiaryColor;
			border-bottom-color: lighten($tertiaryColor,10%);
		}
		&.s_disabled {
			background: darken($tertiaryColor, 15%);
			color: darken($font-tertiaryColor, 30%);
			border-color: darken($tertiaryColor,30%);
		}
	}

// Secondary Button
// -------------------------------------------------------------- //

	%u-button_secondary {
		@extend %u-button_base;
		@include background($color: $secondaryColor, $gradient: linear-gradient(top, $secondaryColor, darken($secondaryColor, 5%)));
		@include boxShadow(inset 0 1px 0 rgba(255,255,255,.3));
		border-color: darken($secondaryColor, 10%);
		border-bottom-color: darken($secondaryColor,20%);
		color: $font-secondaryColor;
		&:hover,
		&:active {
			@include background($color: darken($secondaryColor, 5%), $gradient: linear-gradient(top, darken($secondaryColor, 5%), darken($secondaryColor, 10%)));
		}
		&:active {
			background: $secondaryColor;
			border-bottom-color: lighten($secondaryColor,10%);
		}
		&.s_disabled {
			background: darken($secondaryColor, 15%);
			color: darken($font-secondaryColor, 30%);
			border-color: darken($secondaryColor,30%);
		}
	}

// Button Base
// -------------------------------------------------------------- //

	%u-button_success {
		@extend %u-button_base;
		@include background($color: #66b003, $gradient: linear-gradient(top, #66b003, darken(#66b003, 5%)));
		@include boxShadow(inset 0 1px 0 rgba(255,255,255,.3));
		border-color: darken(#66b003, 10%);
		border-bottom-color: darken(#66b003,20%);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,.3);
		&:hover,
		&:active {
			@include background($color: darken(#66b003, 5%), $gradient: linear-gradient(top, darken(#66b003, 5%), darken(#66b003, 10%)));
		}
		&:active {
			background: #66b003;
			border-bottom-color: lighten(#66b003,10%);
		}
		&.s_disabled {
			background: darken(#66b003, 15%);
			color: darken($font-secondaryColor, 30%);
			border-color: darken(#66b003,30%);
		}
	}

// Button Base
// -------------------------------------------------------------- //

	%u-button_warning {
		@extend %u-button_base;
		@include background($color: #f7c91f, $gradient: linear-gradient(top, #f7c91f, darken(#f7c91f, 5%)));
		@include boxShadow(inset 0 1px 0 rgba(255,255,255,.3));
		border-color: darken(#f7c91f, 10%);
		border-bottom-color: darken(#f7c91f,20%);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,.3);
		&:hover,
		&:active {
			@include background($color: darken(#f7c91f, 5%), $gradient: linear-gradient(top, darken(#f7c91f, 5%), darken(#f7c91f, 10%)));
		}
		&:active {
			background: #f7c91f;
			border-bottom-color: lighten(#f7c91f,10%);
		}
		&.s_disabled {
			background: darken(#f7c91f, 15%);
			color: darken($font-secondaryColor, 30%);
			border-color: darken(#f7c91f,30%);
		}
	}

// Button Base
// -------------------------------------------------------------- //

	%u-button_danger {
		@extend %u-button_base;
		@include background($color: #b41800, $gradient: linear-gradient(top, #b41800, darken(#b41800, 5%)));
		@include boxShadow(inset 0 1px 0 rgba(255,255,255,.3));
		border-color: darken(#b41800, 10%);
		border-bottom-color: darken(#b41800,20%);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,.3);
		&:hover,
		&:active {
			@include background($color: darken(#b41800, 5%), $gradient: linear-gradient(top, darken(#b41800, 5%), darken(#b41800, 10%)));
		}
		&:active {
			background: #b41800;
			border-bottom-color: lighten(#b41800,10%);
		}
		&.s_disabled {
			background: darken(#b41800, 15%);
			color: darken($font-secondaryColor, 30%);
			border-color: darken(#b41800,30%);
		}
	}

// Button Base
// -------------------------------------------------------------- //

	%u-button_link {
		@include reset;
		&:hover { text-decoration: underline; }
	}

// Constructor
// -------------------------------------------------------------- //

	.u-button { @extend %u-button_base; }
	.u-button-primary { @extend %u-button_primary; }
	.u-button-secondary { @extend %u-button_secondary; }
	.u-button-success { @extend %u-button_success; }
	.u-button-warning { @extend %u-button_warning; }
	.u-button-danger { @extend %u-button_danger; }
	.u-button-link { @extend %u-button_link; }